Q1. Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [1]:
a="Shashi" #string
b=['a',5326,78.46,"jsgdiu"] #list
c=78.46 #float
d=(34,67,58,468) #tuple
print(type(a),type(b),type(c),type(d))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1

What will be the data type of the above given variable.

In [9]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

(i)	  / 

(ii)	% 

(iii)	//

(iv)	**

In [13]:
"""use of Below operators:
 '/' -It's a division operator to divide the operands and give the output as quotient
 '%'- It's a modulus operator which use to get a remainder after dividing the 1st operand with second operand
 '//'- It's a floor division operator use to get floor value of the quotient
 '**' - It's a 	Exponentiation operator which use to get the exponent of the left operand raised to the power of the right operand"""
a=79
b=6

print(a/b) # for example a= 79 and b=6 if we divide 79/6 we will get quotient 13.1666
print(a%b) # for example a= 79 and b=6 if we divide 79/6 we will get remainder 1
print(a//b) # for example a= 79 and b=6 if we divide 79/6 we will get quotient 13.1666 and the floor value of (13.1666) is 13
print(a**b) # for example a= 79 and b=6 if calucalte 79^6 we will get quotient 243087455521

13.166666666666666
1
13
243087455521

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [15]:
l=[1,False,True,230.9,"shhd",5+6j,{1,23,23,87},('dsnj',),('ghsdvu'),{132:87,45:34986,46:46347}]

for j in l:
       print(j,type(j))

1 <class 'int'>
False <class 'bool'>
True <class 'bool'>
230.9 <class 'float'>
shhd <class 'str'>
(5+6j) <class 'complex'>
{1, 23, 87} <class 'set'>
('dsnj',) <class 'tuple'>
ghsdvu <class 'str'>
{132: 87, 45: 34986, 46: 46347} <class 'dict'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [5]:
A = int(input("Please enter first No:"))
B = int(input("Please enter second No:"))
i = 0

while A%B ==0:
    A = A/B
    i = i+1
else:
    if i==0:
        print("A is not purely divisble by B")
    else:
        print("A is",i,"times purely divisble by B")

Please enter first No: 9
Please enter second No: 3

A is 2 times purely divisble by B

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [8]:
l1 = [*range(1, 26, 1)]
for i in l1:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

Immutable datatype cannot be changed after it's created.
For Example int, float, bool, string, unicode and tuple.
let's take a exple of tuple and try to modified its value at a particular index and print it. As a tupple is immutable datatype, it will throw an error when we try to modify.

In [10]:
tp1=(1,2,3,4,5)
tp1[3]=8
print(tp1)

TypeError: 'tuple' object does not support item assignment

Muttable can be changed after its created. For Example list, set, dictionary. let's take a example of list and try to modified its value at a particular index and print it. As a list is mutable datatype, it will modify the value.
Lists have the ability to add and remove elements dynamically. Lists provide methods such as append(),insert(),extend(),remove() and pop().

In [13]:

l1 = [1, 2, 3]
l1.append(4)# it will append 4 at the end of list
print(l1)
 
l1.insert(1, 5) # it will insert 5 at index 1
print(l1)
 
l1.remove(2)# it will remove value from index 2
print(l1)

[1, 2, 3, 4]
[1, 5, 2, 3, 4]
[1, 5, 3, 4]